<%= form_with url: users_login_path do |form| %>

  <h1>
    <center>
        Url Shortner
    </center>
  </h1>
  <!-- <p>
    <% if @a == 5 %>
      <%= javascript_tag "alert('hello welcome')" %>
    <% end %>
  </p> -->
  <p>
    <center>
      <%= form.label :username %>
      <%= form.text_field :username %><br><br>

      <%= form.label :password %>
      <%= form.password_field :password %><br><br>
    
      <%= form.submit 'Login'%><br><br>
      <%= link_to 'Signup', users_signup_path %><br><br>
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </center>
  </p>
  
<% end %>